global
  log /dev/log local0
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  timeout connect 5s
  timeout client  30s
  timeout server  30s

frontend atc_front
  bind *:3000
  default_backend atc_back

backend atc_back
  balance roundrobin
  option httpchk GET /health
  server api1 api_1:3000 check
  server api2 api_2:3000 check
  server api3 api_3:3000 check
